/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: #777;
  padding: 20px 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(111, 55%, 64%, 0.801),
      hsla(160, 64%, 43%, 0.801)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 40px;
}

.header-box {
  position: absolute;
  left: 50%;
  top: 40%;

  /* to account for the current element's width */
  transform: translate(-50%, -50%);

  /* to center a:link */
  /* text-align: center; */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;

  margin-bottom: 20px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;

  animation: moveInFromLeft 0.4s ease-out;

  /* Animation Properties
  animation: name duration timing-function delay iteration-count direction fill-mode;
  */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 17.4px;
  font-weight: 700;

  animation: moveInFromRight 0.4s ease-out;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-180px);
  }

  85% {
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(180px);
  }

  85% {
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 100px;

  transition: all 0.2s;

  /* animation: moveInFromBottom 0.8s ease-out 0.4s both; */

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;

  transition: all 0.4s;
  z-index: -1;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-white::after {
  background-color: #fff;
}
